@font-face {
  font-family: montserrat;
  src: url('../assets/fonts/montserrat300.woff2') format('woff2'),
  url('../assets/fonts/montserrat300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: montserrat;
  src: url('../assets/fonts/montserrat300italic.woff2') format('woff2'),
  url('../assets/fonts/montserrat300italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: montserrat;
  src: url('../assets/fonts/montserratregular.woff2') format('woff2'),
    url('../assets/fonts/montserratregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: montserrat;
  src: url('../assets/fonts/montserratitalic.woff2') format('woff2'),
  url('../assets/fonts/montserratitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: montserrat;
  src: url('../assets/fonts/montserrat700.woff2') format('woff2'),
  url('../assets/fonts/montserrat700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: gothampro;
  src: url('../assets/fonts/gothampro-bold.woff2') format('woff2'),
  url('../assets/fonts/gothampro-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}