// General

$mainFont         : montserrat, Helvetica, Arial, sans-serif;
$mainFontSize     : 16px;
$mainLineHeight   : 1.4;
$mainFontWeight   : 400;
$mainFontColor    : #000;

//Project

$contentWidth     : 100%; //Check the layout
$gutter           : 15px;

$navFontSize      : 18px;
$infoFontSize     : 14px; //Additional font sizes for the project

$h2FontSize       : 3em; // Might use VW instead
$h3FontSize       : 2.5em;
$h4FontSize       : 1.22em;

$headerHeight     : 80px;

//Colors

$asideBG          : #6a1b9a;
$lightGrey        : #cfcfcf;

//Multiple gradients

